.Header-cart_conteiner {
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    padding-top: 10%;
    padding-bottom: 10%;
}

.Header-cart_conteiner img {
    width: 30%;
    height: 100%;
    object-fit:contain;
    cursor: pointer;
}

.cart_conteiner-cartCounter {
    visibility: hidden;
    width: 20px;
    height: 20px;
    top: 42%;
    right: 30%;
    border: 2px gold solid;
    border-radius: 100px;
    background: black;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 90;
}

.cart_conteiner-cartItems {
    visibility: hidden;
    width: 20%;
    height: 60%;
    background: white;
    color: black;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    overflow: auto;

    position: fixed;
    top: 9%;
    right: 6%;

    z-index: 70;
}

.cart_conteiner-cartItems img {
    width: 20px;
    height: 20px;
}

.cart_conteiner-cartItems img:hover {
    cursor: pointer;
}

.cart_conteiner-cartItems li{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

.cart_conteiner-cartItems p {
    margin-left: 2%;
}

.cart_conteiner-totalPrice {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 127px;
    left: 90px;
    z-index: 90;

    font-size: 1.2em;
    font-weight: bold;

    display: flex;
}
